
body {
  max-width: 125px;
  margin: 0 auto;
  margin-top: 80px;
  font-family: sans-serif;
}

.button:hover {
  background-color: grey;
  border-radius: 5px;
  outline: none;
}

img {
  align-items: center;
  width: 125px;
}

body.day {
  background-color: gray;
  color: black;
}

body.night {
  background-color: black;
  color: gray;
}

.count {
  text-align: center;
}
